In [35]:
!pip install -r requirement.txt
import psycopg2
import dateutil.parser
import os 
import sys
import itertools
import matplotlib.pyplot as plt
import database_connection as db_connection
import json
import pandas as pd
import numpy as np

Requirement already satisfied: cycler==0.10.0 in /usr/local/lib/python3.9/site-packages (from -r requirement.txt (line 1)) (0.10.0)
Requirement already satisfied: kiwisolver==1.3.1 in /usr/local/lib/python3.9/site-packages (from -r requirement.txt (line 2)) (1.3.1)
Collecting matplotlib==3.4.2
  Using cached matplotlib-3.4.2-cp39-cp39-macosx_10_9_x86_64.whl (7.2 MB)
Collecting numpy==1.21.0
  Using cached numpy-1.21.0-cp39-cp39-macosx_10_9_x86_64.whl (16.9 MB)
Collecting pandas==1.2.5
  Using cached pandas-1.2.5-cp39-cp39-macosx_10_9_x86_64.whl (10.7 MB)
Requirement already satisfied: Pillow==8.2.0 in /usr/local/lib/python3.9/site-packages (from -r requirement.txt (line 6)) (8.2.0)
Requirement already satisfied: psycopg2==2.8.6 in /usr/local/lib/python3.9/site-packages (from -r requirement.txt (line 7)) (2.8.6)
Requirement already satisfied: pyparsing==2.4.7 in /usr/local/lib/python3.9/site-packages (from -r requirement.txt (line 8)) (2.4.7)
Requirement already satisfied: python-dateutil==2.8.1 in /usr/local/lib/python3.9/site-packages (from -r requirement.txt (line 9)) (2.8.1)
Requirement already satisfied: pytz==2021.1 in /usr/local/lib/python3.9/site-packages (from -r requirement.txt (line 10)) (2021.1)
Collecting six==1.16.0
  Using cached six-1.16.0-py2.py3-none-any.whl (11 kB)
Installing collected packages: six, numpy, pandas, matplotlib
  Attempting uninstall: six
    Found existing installation: six 1.15.0
    Uninstalling six-1.15.0:
      Successfully uninstalled six-1.15.0
  Attempting uninstall: numpy
    Found existing installation: numpy 1.20.2
    Uninstalling numpy-1.20.2:
      Successfully uninstalled numpy-1.20.2
  Attempting uninstall: pandas
    Found existing installation: pandas 1.2.3
    Uninstalling pandas-1.2.3:
      Successfully uninstalled pandas-1.2.3
  Attempting uninstall: matplotlib
    Found existing installation: matplotlib 3.4.1
    Uninstalling matplotlib-3.4.1:
      Successfully uninstalled matplotlib-3.4.1
Successfully installed matplotlib-3.4.2 numpy-1.21.0 pandas-1.2.5 six-1.16.0

In [2]:
request  = """SELECT * FROM partner_alma_data.payload_pending_stat
ORDER BY equipment_id ASC"""
df = db_connection.send_request((request))
field='c28'

In [3]:
df_value_equipment_id = pd.DataFrame(df[['equipment_id','value']])

In [4]:
df_value_equipment_id

         equipment_id                                              value
0                   1  {"t":"2021-06-08T13:24:54","lat":45.53691,"lng...
1                   1  {"t":"2021-06-08T13:31:24","lat":45.47813,"lng...
2                   1  {"t":"2021-06-08T13:34:54","lat":45.46051,"lng...
3                   1  {"t":"2021-06-08T13:28:54","lat":45.49832,"lng...
4                   1  {"t":"2021-06-08T13:25:24","lat":45.53207,"lng...
...               ...                                                ...
2634978           340  {"t":"2021-05-27T23:08:42","c4_0821":31.00,"la...
2634979           340  {"t":"2021-05-27T23:33:28","c4_0821":32.00,"la...
2634980           340  {"t":"2021-05-27T23:38:09","c4_0821":50,"lat":...
2634981           340  {"t":"2021-05-27T23:38:20","c4_0821":3,"lat":4...
2634982           340  {"t":"2021-05-27T23:08:42","c4_0821":31.00,"la...

[2634983 rows x 2 columns]

**Methodes pour la construction et la recuperation des données**

In [5]:
def get_all_fields(df):
    all_fields = set()
    for val in df.value:
        try:
            all_fields = all_fields.union(set(list(json.loads(val).keys())))
        except:
            pass
    return all_fields
all_fields=get_all_fields(df_value_equipment_id)

In [6]:
def get_sensors_value_eqp_datetime(field):
    
    values_payload_eqp = {element:list() for element in df.equipment_id.unique() }
    for eqp_id in values_payload_eqp.keys():
        temp = df_value_equipment_id.groupby('equipment_id').get_group(eqp_id)
        try:

            payloads = [(json.loads(element).get(field),json.loads(element).get("t")) 
                        for element in temp.value.values if json.loads(element).get(field)]
            values_payload_eqp[eqp_id]= payloads
        except:
            pass
    return values_payload_eqp

In [28]:
def get_by_day(list_tuple):
    groups = []
    uniquekeys = []
    for k, g in itertools.groupby(list_tuple, key=lambda x: x[1].date()):
       uniquekeys.append(k)    
       groups.append(list(g))

    return groups

In [8]:
def get_graph(x,y,title):
    plt.plot(x,y)
    plt.title(title)
    plt.xticks(rotation=45) 
    plt.figure()

In [9]:
def get_consecutive_date(list_date):
    res = list()
    for element in list_date:
        if len(res)==0:
            res.append(element)
        else:
            if abs((res[-1][-1][1]-element[0][1]).days)==1:
                res[-1]=unique_consecutive(res[-1],element)
            else:
                res.append(element)
    return res

In [10]:
def get_graph_by_day(list_tuple):
    to_plot = get_by_day(list_tuple)
    
    for element in to_plot:
        x = [e[1] for e in element ]
        y = [e[0] for e in element]
        title = str(element[0][1].date())
        get_graph(x,y,title)

In [11]:
def unique_consecutive(list1,list2):
    res = list()
    for element in list1:
        res.append(element)
    for element in list2:
        res.append(element)
    return res

In [12]:
result = get_sensors_value_eqp_datetime(field)

In [14]:
def get_maxs(offset):
    if offset<=0:
        return
    if offset==1:
        max_temp = sorted([(len(result[key]),key) for key in result.keys()])[-1]
        eqpmax_date = [(element[0],dateutil.parser.parse(element[1])) for element in result[max_temp[-1]]]
        eqpmax_date=sorted(eqpmax_date,key = lambda x:x[1])
        return max_temp[1],eqpmax_date
    else:
        
        max_temp = sorted([(len(result[key]),key) for key in result.keys()])
        max_temp.reverse()
        keys =[ e[1] for e in max_temp[:offset]]
        max_temp = [ e[1] for e in max_temp[:offset]]
        eqpmaxs_dates = list()
        for value in max_temp: ##ici on a la list des id des n equipement ayant remontés le plus de données
            temp = ([(element[0],dateutil.parser.parse(element[1])) for element in result[value]])
            temp = sorted(temp,key = lambda x:x[1])
            eqpmaxs_dates.append(temp)
        return dict(zip(keys,eqpmaxs_dates))

In [15]:
def optimized_offset(dict_values):
    return len([a for a in dict_values.items() if len(a[1])>0])

In [30]:
#result -> len =304
# non vide = 28
#vide = 276
#\/
optimized_offset(result)
max_ = get_maxs(optimized_offset(result))

### print the group of consecutives datetime with values associated ### 
dataframes_per_consecutives_days

In [17]:
dfs = list()
max_ = get_maxs(optimized_offset(result))
for key,value in max_.items(): 
    for element in get_by_day(value):
        temp = [(key,a,b) for a,b in element ]
        dfs.append(pd.DataFrame(data=temp, columns = ['Equipment_id','Value','Date']))
    for d in dfs:
        d['Value']=d['Value'].abs()

#for element in dataframes_per_consecutives_days:
#plt.title(element.Equipment_id.unique())
#plt.plot(element.Date,element.Value)
#plt.xticks(rotation=60)
#plt.show()

In [18]:
dfs

[     Equipment_id  Value                Date
 0              93     39 2021-05-27 15:00:19
 1              93     40 2021-05-27 15:00:31
 2              93     39 2021-05-27 15:01:17
 3              93     40 2021-05-27 15:01:28
 4              93     39 2021-05-27 15:01:40
 ..            ...    ...                 ...
 297            93      8 2021-05-27 23:29:41
 298            93      7 2021-05-27 23:35:15
 299            93      8 2021-05-27 23:37:33
 300            93      9 2021-05-27 23:45:03
 301            93     16 2021-05-27 23:53:06

 [302 rows x 3 columns],
      Equipment_id  Value                Date
 0              93     17 2021-05-28 00:02:31
 1              93     18 2021-05-28 00:12:07
 2              93     19 2021-05-28 00:22:06
 3              93     20 2021-05-28 00:33:03
 4              93     21 2021-05-28 00:50:42
 ..            ...    ...                 ...
 154            93     34 2021-05-28 08:24:02
 155            93     35 2021-05-28 09:30:04
 156            93     35 2021-05-28 09:45:51
 157            93     36 2021-05-28 10:00:51
 158            93     37 2021-05-28 10:10:27

 [159 rows x 3 columns],
      Equipment_id  Value                Date
 0              93     16 2021-06-01 13:19:42
 1              93     17 2021-06-01 13:21:03
 2              93     18 2021-06-01 13:22:24
 3              93     16 2021-06-01 13:23:21
 4              93      9 2021-06-01 13:23:44
 ..            ...    ...                 ...
 280            93     54 2021-06-01 23:58:53
 281            93     53 2021-06-01 23:59:04
 282            93     52 2021-06-01 23:59:16
 283            93     51 2021-06-01 23:59:39
 284            93     50 2021-06-01 23:59:50

 [285 rows x 3 columns],
      Equipment_id  Value                Date
 0              93     49 2021-06-02 00:00:02
 1              93     48 2021-06-02 00:00:25
 2              93     41 2021-06-02 00:00:37
 3              93     48 2021-06-02 00:01:34
 4              93     39 2021-06-02 00:03:06
 ..            ...    ...                 ...
 408            93     20 2021-06-02 17:29:35
 409            93     21 2021-06-02 17:29:47
 410            93     22 2021-06-02 17:46:52
 411            93     23 2021-06-02 17:55:19
 412            93     22 2021-06-02 17:55:42

 [413 rows x 3 columns],
      Equipment_id  Value                Date
 0              93     33 2021-06-07 07:33:45
 1              93     32 2021-06-07 07:36:04
 2              93     33 2021-06-07 07:37:59
 3              93     34 2021-06-07 07:56:13
 4              93     33 2021-06-07 07:56:25
 ..            ...    ...                 ...
 568            93     38 2021-06-07 23:26:13
 569            93     37 2021-06-07 23:29:05
 570            93     36 2021-06-07 23:36:35
 571            93     37 2021-06-07 23:42:09
 572            93     36 2021-06-07 23:43:29

 [573 rows x 3 columns],
      Equipment_id  Value                Date
 0              93     35 2021-06-08 00:03:04
 1              93     34 2021-06-08 00:14:13
 2              93     33 2021-06-08 00:34:11
 3              93     34 2021-06-08 00:34:22
 4              93     33 2021-06-08 00:34:57
 ..            ...    ...                 ...
 497            93    101 2021-06-08 23:59:09
 498            93     96 2021-06-08 23:59:20
 499            93     87 2021-06-08 23:59:32
 500            93     86 2021-06-08 23:59:43
 501            93     85 2021-06-08 23:59:55

 [502 rows x 3 columns],
      Equipment_id  Value                Date
 0              93     81 2021-06-09 00:00:06
 1              93     73 2021-06-09 00:00:18
 2              93     69 2021-06-09 00:00:30
 3              93     67 2021-06-09 00:00:41
 4              93     64 2021-06-09 00:00:52
 ..            ...    ...                 ...
 362            93      6 2021-06-09 15:19:55
 363            93      5 2021-06-09 15:20:29
 364            93      6 2021-06-09 15:21:38
 365            93      7 2021-06-09 15:22:47
 366            93      8 2021-06-09 15:25:17

 [367 rows x 3 columns],
      Equipment_id  Value                Date
 0             114     17 2021-05-27 14:11:46
 1             114     18 2021-05-27 14:12:35
 2             114     19 2021-05-27 14:13:47
 3             114     20 2021-05-27 14:14:59
 4             114     21 2021-05-27 14:16:35
 ..            ...    ...                 ...
 187           114     25 2021-05-27 23:34:34
 188           114     24 2021-05-27 23:35:22
 189           114     23 2021-05-27 23:36:59
 190           114     22 2021-05-27 23:42:09
 191           114     21 2021-05-27 23:56:08

 [192 rows x 3 columns],
      Equipment_id  Value                Date
 0             114     20 2021-05-28 00:13:57
 1             114     19 2021-05-28 00:52:41
 2             114     19 2021-05-28 01:22:37
 3             114     18 2021-05-28 03:04:41
 4             114     19 2021-05-28 03:04:53
 ..            ...    ...                 ...
 96            114     20 2021-05-28 10:09:54
 97            114     21 2021-05-28 10:11:18
 98            114     22 2021-05-28 10:12:31
 99            114     23 2021-05-28 10:13:55
 100           114     24 2021-05-28 10:16:31

 [101 rows x 3 columns],
      Equipment_id  Value                Date
 0             114     22 2021-06-01 13:22:12
 1             114     23 2021-06-01 13:23:48
 2             114     22 2021-06-01 13:25:37
 3             114     23 2021-06-01 13:25:49
 4             114     19 2021-06-01 13:26:01
 ..            ...    ...                 ...
 136           114     22 2021-06-01 22:27:19
 137           114     21 2021-06-01 22:53:51
 138           114     20 2021-06-01 23:09:54
 139           114     21 2021-06-01 23:10:06
 140           114     20 2021-06-01 23:10:18

 [141 rows x 3 columns],
      Equipment_id  Value                Date
 0             114     16 2021-06-02 00:15:40
 1             114      7 2021-06-02 00:15:52
 2             114      6 2021-06-02 00:16:04
 3             114      5 2021-06-02 00:18:17
 4             114      6 2021-06-02 00:35:03
 ..            ...    ...                 ...
 463           114      9 2021-06-02 17:47:26
 464           114     16 2021-06-02 17:50:51
 465           114     17 2021-06-02 17:55:28
 466           114     18 2021-06-02 17:59:28
 467           114     19 2021-06-02 18:04:54

 [468 rows x 3 columns],
      Equipment_id  Value                Date
 0             114     33 2021-06-07 07:42:00
 1             114     34 2021-06-07 08:04:03
 2             114     35 2021-06-07 08:30:14
 3             114     34 2021-06-07 08:30:39
 4             114     35 2021-06-07 08:30:51
 ..            ...    ...                 ...
 568           114     25 2021-06-07 23:14:07
 569           114     24 2021-06-07 23:53:44
 570           114     25 2021-06-07 23:55:07
 571           114     24 2021-06-07 23:55:19
 572           114     25 2021-06-07 23:57:44

 [573 rows x 3 columns],
      Equipment_id  Value                Date
 0             114     32 2021-06-08 00:01:40
 1             114     25 2021-06-08 00:02:40
 2             114     32 2021-06-08 00:20:47
 3             114     33 2021-06-08 00:21:36
 4             114     32 2021-06-08 00:22:00
 ..            ...    ...                 ...
 515           114     36 2021-06-08 23:55:29
 516           114     37 2021-06-08 23:56:18
 517           114     36 2021-06-08 23:57:16
 518           114     35 2021-06-08 23:57:40
 519           114     34 2021-06-08 23:59:36

 [520 rows x 3 columns],
      Equipment_id  Value                Date
 0             114     33 2021-06-09 00:00:12
 1             114     32 2021-06-09 00:02:09
 2             114     25 2021-06-09 00:06:03
 3             114     32 2021-06-09 00:06:16
 4             114     33 2021-06-09 00:07:02
 ..            ...    ...                 ...
 317           114     24 2021-06-09 15:25:49
 318           114     16 2021-06-09 15:26:01
 319           114      7 2021-06-09 15:26:13
 320           114      6 2021-06-09 15:26:25
 321           114      5 2021-06-09 15:26:49

 [322 rows x 3 columns],
      Equipment_id  Value                Date
 0              30     20 2021-05-27 14:11:02
 1              30     21 2021-05-27 14:15:04
 2              30     20 2021-05-27 14:15:16
 3              30     21 2021-05-27 14:15:27
 4              30     22 2021-05-27 14:21:13
 ..            ...    ...                 ...
 213            30     19 2021-05-27 23:08:39
 214            30     20 2021-05-27 23:26:42
 215            30     19 2021-05-27 23:27:17
 216            30     20 2021-05-27 23:27:28
 217            30     21 2021-05-27 23:53:46

 [218 rows x 3 columns],
      Equipment_id  Value                Date
 0              30     22 2021-05-28 00:30:38
 1              30     21 2021-05-28 00:30:50
 2              30     22 2021-05-28 00:31:01
 3              30     23 2021-05-28 01:05:35
 4              30     22 2021-05-28 01:33:02
 ..            ...    ...                 ...
 141            30     38 2021-05-28 08:46:43
 142            30     39 2021-05-28 08:47:40
 143            30     38 2021-05-28 09:33:11
 144            30     39 2021-05-28 09:33:22
 145            30     38 2021-05-28 09:33:34

 [146 rows x 3 columns],
      Equipment_id  Value                Date
 0              30     17 2021-06-01 13:16:57
 1              30     18 2021-06-01 13:20:13
 2              30     19 2021-06-01 13:22:42
 3              30     20 2021-06-01 13:25:01
 4              30     21 2021-06-01 13:27:53
 ..            ...    ...                 ...
 257            30     18 2021-06-01 22:57:22
 258            30     19 2021-06-01 23:32:19
 259            30     18 2021-06-01 23:32:54
 260            30     19 2021-06-01 23:33:05
 261            30     20 2021-06-01 23:54:47

 [262 rows x 3 columns],
      Equipment_id  Value                Date
 0              30     21 2021-06-02 00:27:37
 1              30     22 2021-06-02 00:46:26
 2              30     23 2021-06-02 00:52:23
 3              30     24 2021-06-02 00:54:18
 4              30     23 2021-06-02 00:56:13
 ..            ...    ...                 ...
 396            30      7 2021-06-02 17:58:53
 397            30      6 2021-06-02 17:59:39
 398            30      5 2021-06-02 18:00:49
 399            30      6 2021-06-02 18:01:35
 400            30      7 2021-06-02 18:03:18

 [401 rows x 3 columns],
      Equipment_id  Value                Date
 0              30     36 2021-06-07 07:34:42
 1              30     35 2021-06-07 07:36:38
 2              30     36 2021-06-07 07:39:54
 3              30     35 2021-06-07 07:42:23
 4              30     36 2021-06-07 07:42:35
 ..            ...    ...                 ...
 352            30     22 2021-06-07 23:10:29
 353            30     21 2021-06-07 23:10:40
 354            30     22 2021-06-07 23:10:52
 355            30     23 2021-06-07 23:26:48
 356            30     24 2021-06-07 23:41:12

 [357 rows x 3 columns],
      Equipment_id  Value                Date
 0              30     25 2021-06-08 00:00:24
 1              30     24 2021-06-08 00:00:47
 2              30     25 2021-06-08 00:00:58
 3              30     32 2021-06-08 00:24:35
 4              30     25 2021-06-08 00:44:22
 ..            ...    ...                 ...
 379            30     23 2021-06-08 23:10:32
 380            30     24 2021-06-08 23:11:06
 381            30     25 2021-06-08 23:30:53
 382            30     24 2021-06-08 23:33:00
 383            30     25 2021-06-08 23:35:06

 [384 rows x 3 columns],
      Equipment_id  Value                Date
 0              30     24 2021-06-09 00:41:09
 1              30     25 2021-06-09 00:41:21
 2              30     24 2021-06-09 00:42:53
 3              30     25 2021-06-09 00:43:05
 4              30     24 2021-06-09 00:43:28
 ..            ...    ...                 ...
 294            30     18 2021-06-09 15:07:32
 295            30     19 2021-06-09 15:10:59
 296            30     20 2021-06-09 15:15:13
 297            30     21 2021-06-09 15:20:36
 298            30     22 2021-06-09 15:24:49

 [299 rows x 3 columns],
      Equipment_id  Value                Date
 0              84      6 2021-05-27 14:11:46
 1              84      5 2021-05-27 14:11:58
 2              84      4 2021-05-27 14:12:22
 3              84      5 2021-05-27 14:14:46
 4              84      6 2021-05-27 14:15:22
 ..            ...    ...                 ...
 154            84     34 2021-05-27 20:16:00
 155            84     33 2021-05-27 20:29:27
 156            84     25 2021-05-27 21:41:28
 157            84     32 2021-05-27 21:42:04
 158            84     25 2021-05-27 21:42:28

 [159 rows x 3 columns],
      Equipment_id  Value                Date
 0              84     24 2021-05-28 02:50:55
 1              84     25 2021-05-28 02:51:07
 2              84     24 2021-05-28 02:51:44
 3              84     25 2021-05-28 02:51:56
 4              84     24 2021-05-28 02:52:44
 ..            ...    ...                 ...
 110            84      5 2021-05-28 10:10:02
 111            84      6 2021-05-28 10:11:14
 112            84      7 2021-05-28 10:12:39
 113            84      8 2021-05-28 10:15:38
 114            84      9 2021-05-28 10:18:36

 [115 rows x 3 columns],
      Equipment_id  Value                Date
 0              84      7 2021-06-01 13:20:53
 1              84      8 2021-06-01 13:21:53
 2              84      6 2021-06-01 13:22:05
 3              84      5 2021-06-01 13:22:41
 4              84      6 2021-06-01 13:23:28
 ..            ...    ...                 ...
 228            84     23 2021-06-01 23:43:02
 229            84     24 2021-06-01 23:43:14
 230            84     23 2021-06-01 23:50:16
 231            84     24 2021-06-01 23:50:28
 232            84     23 2021-06-01 23:57:25

 [233 rows x 3 columns],
      Equipment_id  Value                Date
 0              84     24 2021-06-02 00:00:38
 1              84     23 2021-06-02 00:00:50
 2              84     24 2021-06-02 00:02:37
 3              84     23 2021-06-02 00:03:01
 4              84     24 2021-06-02 00:56:01
 ..            ...    ...                 ...
 402            84     25 2021-06-02 17:32:46
 403            84     24 2021-06-02 17:50:11
 404            84     25 2021-06-02 17:50:23
 405            84     24 2021-06-02 17:52:10
 406            84     25 2021-06-02 17:59:59

 [407 rows x 3 columns],
      Equipment_id  Value                Date
 0              84     33 2021-06-07 07:48:41
 1              84     32 2021-06-07 07:48:53
 2              84     33 2021-06-07 07:49:06
 3              84     23 2021-06-07 07:50:18
 4              84     17 2021-06-07 07:50:30
 ..            ...    ...                 ...
 427            84     34 2021-06-07 19:43:05
 428            84     33 2021-06-07 20:26:05
 429            84     32 2021-06-07 21:33:36
 430            84     33 2021-06-07 21:33:48
 431            84     32 2021-06-07 21:34:24

 [432 rows x 3 columns],
      Equipment_id  Value                Date
 0              84     25 2021-06-08 00:36:07
 1              84     32 2021-06-08 00:36:19
 2              84     25 2021-06-08 00:37:56
 3              84     32 2021-06-08 00:38:08
 4              84     25 2021-06-08 00:38:20
 ..            ...    ...                 ...
 333            84     32 2021-06-08 16:44:09
 334            84     32 2021-06-08 22:04:34
 335            84     25 2021-06-08 22:05:10
 336            84     32 2021-06-08 22:05:34
 337            84     25 2021-06-08 22:11:23

 [338 rows x 3 columns],
      Equipment_id  Value                Date
 0              84     24 2021-06-09 00:03:43
 1              84     25 2021-06-09 00:04:06
 2              84     24 2021-06-09 00:04:18
 3              84     25 2021-06-09 00:05:31
 4              84     24 2021-06-09 00:05:43
 ..            ...    ...                 ...
 356            84     20 2021-06-09 15:10:17
 357            84     21 2021-06-09 15:13:17
 358            84     22 2021-06-09 15:15:54
 359            84     23 2021-06-09 15:19:54
 360            84     24 2021-06-09 15:25:43

 [361 rows x 3 columns],
      Equipment_id  Value                Date
 0              88     16 2021-05-27 14:13:06
 1              88     17 2021-05-27 14:15:25
 2              88     16 2021-05-27 14:16:45
 3              88     17 2021-05-27 14:17:43
 4              88     18 2021-05-27 14:22:54
 ..            ...    ...                 ...
 217            88     41 2021-05-27 23:36:38
 218            88     40 2021-05-27 23:37:01
 219            88     39 2021-05-27 23:37:36
 220            88     38 2021-05-27 23:38:33
 221            88     39 2021-05-27 23:44:08

 [222 rows x 3 columns],
      Equipment_id  Value                Date
 0              88     38 2021-05-28 00:00:27
 1              88     37 2021-05-28 00:00:50
 2              88     36 2021-05-28 00:01:13
 3              88     35 2021-05-28 00:01:47
 4              88     34 2021-05-28 00:03:08
 ..            ...    ...                 ...
 99             88     16 2021-05-28 10:12:54
 100            88      9 2021-05-28 10:13:29
 101            88     16 2021-05-28 10:13:40
 102            88     17 2021-05-28 10:16:10
 103            88     18 2021-05-28 10:18:52

 [104 rows x 3 columns],
      Equipment_id  Value                Date
 0              88     18 2021-06-01 13:22:35
 1              88     19 2021-06-01 13:25:05
 2              88     20 2021-06-01 13:27:58
 3              88     18 2021-06-01 13:30:05
 4              88     17 2021-06-01 13:30:16
 ..            ...    ...                 ...
 267            88     19 2021-06-01 23:49:06
 268            88     20 2021-06-01 23:50:03
 269            88     21 2021-06-01 23:51:24
 270            88     20 2021-06-01 23:52:45
 271            88     21 2021-06-01 23:53:08

 [272 rows x 3 columns],
      Equipment_id  Value                Date
 0              88     22 2021-06-02 00:02:32
 1              88     21 2021-06-02 00:15:01
 2              88     20 2021-06-02 00:21:44
 3              88     19 2021-06-02 00:21:56
 4              88     20 2021-06-02 00:22:07
 ..            ...    ...                 ...
 411            88      7 2021-06-02 18:02:57
 412            88      6 2021-06-02 18:03:08
 413            88      5 2021-06-02 18:05:15
 414            88      6 2021-06-02 18:05:38
 415            88      7 2021-06-02 18:06:36

 [416 rows x 3 columns],
      Equipment_id  Value                Date
 0              88     35 2021-06-07 08:15:42
 1              88     36 2021-06-07 08:52:22
 2              88     35 2021-06-07 09:14:16
 3              88     36 2021-06-07 09:15:25
 4              88     34 2021-06-07 09:20:01
 ..            ...    ...                 ...
 423            88     33 2021-06-07 22:07:50
 424            88     32 2021-06-07 22:08:48
 425            88     33 2021-06-07 22:09:00
 426            88     33 2021-06-07 23:28:01
 427            88     34 2021-06-07 23:56:39

 [428 rows x 3 columns],
      Equipment_id  Value                Date
 0              88     35 2021-06-08 01:02:42
 1              88     34 2021-06-08 01:02:53
 2              88     35 2021-06-08 01:03:05
 3              88     34 2021-06-08 01:03:16
 4              88     35 2021-06-08 01:03:28
 ..            ...    ...                 ...
 211            88     35 2021-06-08 22:50:29
 212            88     36 2021-06-08 22:50:40
 213            88     35 2021-06-08 22:50:52
 214            88     34 2021-06-08 23:40:12
 215            88     35 2021-06-08 23:40:24

 [216 rows x 3 columns],
      Equipment_id  Value                Date
 0              88     34 2021-06-09 00:08:49
 1              88     35 2021-06-09 00:09:12
 2              88     34 2021-06-09 00:09:35
 3              88     35 2021-06-09 00:09:58
 4              88     34 2021-06-09 00:10:09
 ..            ...    ...                 ...

## ça semble ok

In [20]:
def save_datasets():
    path = os.getcwd()+"/DataFrames/"+str(field)
    choice = input('save ?')
    if(choice in ['yes',',no'] and choice =='yes'):
        for e in dfs:
            key = str(e.Equipment_id.unique()[-1])
            if not os.path.exists(path+"/"+key):
                os.mkdir(path+"/"+key)
                print("Directory " , path+"/"+key ,  " Created ")
            timestamp = str(e.Date[0].date())
            e.to_csv(path_or_buf=path+"/{}/{}.csv".format(key,timestamp))
            print('Dataset saved to '+path+'/'+key)
            #pour la suite on va sur colab -> diminution des temps de traitement et peut etre ML pour la modelisation de la courbe

#### save_datasets()